body {
    position: relative;
}

.show__city--1 {
    // width: 100%;
    width: 70%;
    padding: 5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    z-index: 30;
    border-radius: 3px;

    .box-show {
        display: flex;
        align-items: center;
        &__image {
            width: 30rem;
        }
        &__photo {
            width: 100%;
            height: 100%;
        }
        &__content {
            width: 50%;
            margin-left: 5rem;
        }
    }      
    .close-show {
        font-size: 3rem;
        border: none;
        position: absolute;
        top: 1.5rem;
        right: 3rem;
        color: var(--black);
        transition: all .1s;
        cursor: pointer;

        &:hover {
            color: var(--color-primary);
        }
    }  
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
    backdrop-filter: blur(5px);
    z-index: 20;
}
.hidden {
    display: none;
}
