:root {
    // color 
    --color-primary: #219150;
    --color-black: #10221B;
    --color-white: #fff;
    --color-grey-light: #eee;

    // font-size
    --font-default: 1.7rem;
    --font-small: 1.5rem;
    --font--smallest: 1.4rem;
    // font tuy chinh
    --font-custom-1: 4rem;
    --font-custom-2: 6rem;

    
}
// color thu nghiem
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-drak: #219150;
$color-grey-drak: #777;
$color-white: #fff;
$color-back: #000;
$color-grey-drak-2: #999;
$color-grey-drak-3: #333;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1 : #f7f7f7;
$color-grey-light-2 : #eee;

$color-sencondery-light: #ffb900;
$color-sencondery-drak: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-drak: #5643fa;

