* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-default);
}

.btn {
     

         display: inline-block;
         padding: 1rem 3rem;
         font-size: var(--font-default);
         background-color: transparent;
         transition: all .2s;
        
    

    &:hover {
        transform: translateY(-.3rem);

    }
    &:focus {
        transform: translateY(.2rem);
    }

    &--primary {
        border: 2px solid var(--color-black);
        color: var(--color-black);

        &:hover {
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }
    &--secondery {
        border: 2px solid var(--color-black);
        color: var(--color-black);

        &:hover {
            background-color: var(--color-black);
            color: var(--color-primary);
        }
    }
    &--white {
        border: 2px solid var(--color-white);
        color: var(--color-white);

        &:hover {
            background-color: var(--color-white);
            color: var(--color-primary);
        }
    }
}

// .abb {
//     padding: 1.2rem 3rem;
//     background-color: darksalmon;
//     color: #000;
// } 