.section-city {
    padding: 5rem 9%;

    &__box {
      display: inline-block;
      text-align: center;
      border: 2px solid var(--color-black);
      border-radius: 3px;
    }
    &__shape {
        // width: 30rem;
        height: 35rem;
        position: relative;
        margin-bottom: 2rem;
    }
    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        backface-visibility: hidden;
        transition: all .3s;

    }
    &__caption {
        width: 70%;
        margin-left: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(25%, -40%);
        color: var(--color-white);
        font-size: var(--font-small);
        text-align: left;
        opacity: 0;
        backface-visibility: hidden;
        line-height: 2;
        transition: all .4s;
    }
    &__box:not(:last-child) {
        margin-right: 1.5rem;

    }
    &__text {
        padding: 2rem;
        &:hover .section-city__caption {
            opacity: 1;
            transform: translate(-60%, -40%);
        }
        &:hover .section-city__photo {
            filter: blur(4px) brightness(60%);
        }
    }
    &__photo {
        height: 35rem;
        width: 30rem;
        object-fit: cover;
    }
}